.header{
    width: 100%;
height: 70px;

display: flex;
align-items: center;
justify-content: space-around;

}
.head1{
    width: 300px;
    display: flex;
    justify-content: center;
}
.head2{
    width: 500px;

}
ul{

    list-style: none;
}
li{display: inline-block;
    width: 30px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgb(223,151,69);
    margin: 10px;
    list-style: none;
    align-items: center;
    justify-content: space-around;

    
}